{% extends 'base.html %}

{% block head %}
{% block body %}

  <div class="container text-centre">
  	<h1>
  		calculator
  	</h1>
  		<br/>
  		<br/>


  	<form action=" " method="POST">
  		{% crsf_token %}
  		{{ form.as_p}}

 <button
 	type="submit" name="add">ADD
 </button>

 <button
 	type="submit" name="sub">SUB
 </button>

 <button
 	type='submit' name="mul">MUL
 </button>

<button
	type="submit", name="div">DIV
</button>

		</form>
		</br>
		</br>
	
	
	<h3>
		Result: {{result}}
	</h3>
	</div>